body {
  font-family: 'Roboto', sans-serif;
}

.navbar-light .navbar-brand {
  font-size: 20px;
  color: grey;
  cursor: default;
}

.welcome {
  background: url("../images/macbook-pro-screen.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 700px;
  margin-top: 50px;
}

.code {
  color: white;
  height: 75%;
  margin-top: 60px;
}

.code h2 {
  margin-top: 10px;
}
