body {
  font-family: 'Fira Sans', sans-serif;
}

/* Welcome (top) Section */

.welcome {
  background: url("../images/cityscape-bg.jpg");
  background-size: cover;
  color: #fff;
  display: flex;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
}

.welcome hr {
  animation-duration: 4s;
  animation-name: slide;
  background-color: #dbdbdb;
  border: none;
  height: 1px;
  width: 50%;
}

@keyframes slide {
  from {
    width: 0%;
  }
  to {
    width: 50%;
  }
}

@media (max-width: 991px) {
  .welcome hr {
    width: 60%;
  }

  @keyframes slide {
    from {
      width: 0%;
    }
    to {
      width: 60%;
    }
  }
}

@media (max-width: 767px) {
  .welcome hr {
    width: 90%;
  }

  @keyframes slide {
    from {
      width: 0%;
    }
    to {
      width: 90%;
    }
  }
}

.welcome h1, .welcome h3, .welcome h4 {
  font-weight: 200;
}

.text-wrapper {
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
  position: relative;
}

.welcome-main {
  padding-bottom: 100px;
}

.buttons {
  cursor: pointer;
  margin-top: 50px;
}

.buttons:hover {
  color: grey;
}

.button-separator {
  font-size: 1.5rem;
  padding-left: 10px;
  padding-right: 10px;
}

.line {
  background-color: #fff;
  bottom: 0;
  height: 1px;
  left: 0;
  opacity: 0;
  position: absolute;
  transform-origin: 0 100;
  width: 100%;
}

/* Skills Section */

.skills {
  background: #333333;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
}

.skills h2 {
  color: white;
  margin-top: 50px;
}

.skills hr {
  background-color: #8c8c8c;
  margin-bottom: 20px;
  width: 200px;
}

.skills svg {
  margin: 40px 40px;
  max-width: 160px;
}

@media (max-width: 767px) {
  .skills svg {
    max-width: 80px;
  }
}

/* Projects Section */

.projects {
  padding-left: 20px;
  padding-right: 20px;
}

.projects h2 {
  margin-top: 90px;
}

.projects hr {
  background-color: rgba(0,0,0,.1);
  margin-bottom: 40px;
  width: 300px;
}

.project-item {
  margin-bottom: 30px;
  position: relative;
}

.overlay {
  background-color: #000;
  display: block;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity 0.6s ease-in-out;
  -moz-transition: opacity 0.6s ease-in-out;
  -webkit-transition: opacity 0.6s ease-in-out;
  width: 100%;
  z-index: 100;
}

.project-item:hover > .overlay {
  opacity: 0.9;
}

.text-overlay {
  color: #fff;
  display: block;
  left: 50%;
  opacity: 0;
  position: absolute;
  text-align: center;
  top:50%;
  transform: translateX(-50%) translateY(-50%);
  transition: opacity 0.7s ease-in-out;
  -moz-transition: opacity 0.7s ease-in-out;
  -webkit-transition: opacity 0.7s ease-in-out;
  width: 100%;
  z-index: 200;
}

.project-item:hover > .text-overlay {
  opacity: 1;
}

.text-overlay p {
  margin-top: 20px;
}

.text-overlay a {
  color: #fff;
  margin: 0 20px;
  font-style: italic;
}

.text-overlay a:hover {
  color: grey;
  text-decoration: none;
}

/* About Section */

.about {
  background: #333333;
  color: white;
}

.about h2 {
  margin-top: 90px;
}

.about hr {
  background-color: #8c8c8c;
  margin-bottom: 40px;
  width: 200px;
}

.about h5 {
  margin-bottom: 20px;
}

.about-text, .about-email, .about-links-list {
  padding: 30px;
}

.about-text h4 {
  font-weight: 200;
  margin-left: 30px;
  margin-right: 30px;
  text-align: left;
  text-indent: 50px;
}

.about-email textarea {
  height: 100px;
}

.about-email button:hover {
  background-color: grey;
  border-color: #666666;
}

.about-link {
  position: relative;
  padding-right: 90px;
}

.about-link a {
  color: #fff;
}

.about-link a:hover {
  color: grey;
  text-decoration: none;
}

.about-link i {
  font-size: 50px;
  margin: 20px;
}

.about-link span {
  position: absolute;
  top: 40%;
}

.about img {
  width: 100%;
}
