body {
  font-family: 'Fira Sans', sans-serif;
}

.welcome {
  background: url("../images/cityscape-bg.jpg");
  background-size: cover;
  color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.welcome hr {
  background-color: #dbdbdb;
  animation-duration: 4s;
  animation-name: slide;
  border: none;
  height: 1px;
}

@keyframes slide {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.welcome h1, .welcome h3, .welcome h4 {
  font-weight: 200;
}

.text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.welcome-main {
  padding-bottom: 100px;
}

.buttons {
  cursor: pointer;
  margin-top: 50px;
}

.button-separator {
  font-size: 1.5rem;
  padding-left: 10px;
  padding-right: 10px;
}

.line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: #fff;
  transform-origin: 0 100;
  bottom: 0;
}

.skills {
  background: #333333;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  min-height: 100vh;
}

.skills h2 {
  color: white;
  margin-top: 50px;
}

.skills svg {
  max-width: 160px;
  margin-top: 40px;
  margin-bottom: 40px;
}
