body {
  font-family: 'Roboto', sans-serif;
}

.navbar-light .navbar-brand {
  font-size: 20px;
  color: grey;
  cursor: default;
  transform: translateX(-500px);
}

.welcome {
  background: url("../images/macbook-pro-screen.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 700px;
  margin-top: 50px;
}

.code {
  color: white;
  height: 75%;
  margin-top: 60px;
}

.code h2 {
  margin-top: 10px;
}

.skills {
  background: #333333;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
}

.skills svg {
  min-width: 140px;
  min-height: 140px;
  max-height: 160px;
  max-width: 160px;
  margin-top: 40px;
  margin-bottom: 40px;
}
